.hidden {
  display: none;
}

body {
  background-color: rgba(202, 245, 245, 0.253);
  font-size: 20px;
  color: blue;
}

.container {
  display: flex;
  flex-direction: row;
}

div.container {
  margin: 10px 100px;
}

div.container div {
  padding: 1px;
  margin: 10px;
}


h1,
h2 {
  text-align: center;
  font-weight: bold;
}

input[type="text"] {
  font-size: 20px;
  width: 100%;
}

span {
  font-size: 25px;
  color: red;
  font-weight: bold;
}

button {
  background-color: blue;
  color: aqua;
  font-size: 20px;
  border-radius: 15px;
}

button:hover {
  color: rgb(181, 246, 246);
}

button:disabled {
  color: rgb(181, 246, 246);
}

select {
  color: blue;
  font-size: 20px;
  width: 100%;
}

label {
  font-weight: bold;
}

label.select {
  font-family: 25px;

}